:root, .dark {
    {% if design.colorTheme %}
        --cnvs-themecolor: {{ design.colorTheme }};
        --cnvs-themecolor-rgb: {{ hexToRgb(design.colorTheme) }};
    {% endif %}

    {% if design.backgroundColorHeader %}
        --cnvs-header-bg: {{ design.backgroundColorHeader }};
    {% endif %}

    {% if design.backgroundColorBody %}
        --cnvs-body-bg: {{ design.backgroundColorBody }};
    {% endif %}

    {% if design.backgroundColorFooter %}
        --cnvs-footer-bg: {{ design.backgroundColorFooter }};
    {% endif %}

    {% if design.colorHeading %}
        --cnvs-heading-color: {{ design.colorHeading }};
    {% endif %}

    {% if design.colorSubHeading %}
        --cnvs-heading-block-span-color: {{ design.colorSubHeading }};
    {% endif %}
    
    {% if design.colorFooterText %}
        .dark#footer .footer-widgets-wrap, .dark #footer .footer-widgets-wrap {
            color: {{ design.colorFooterText }};
        }
        #footer .footer-widgets-wrap, #footer .footer-widgets-wrap {
            color: {{ design.colorFooterText }};
        }
    {% endif %}

    {% if design.colorFooterHeading %}
        #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
            color: {{ design.colorFooterHeading }};
        }
    {% endif %}

    {% if design.colorText %}
        --bs-body-color: {{ design.colorText }};
    {% endif %}

    --bs-body-font-size: 1rem;
    --cnvs-line-height-content: 1.65;

    {% set fontFamilies = [
        { name: 'Arial', style: 'sans-serif'},
        { name: 'Helvetica', style: 'sans-serif'},
        { name: 'Inter', style: 'sans-serif'},
        { name: 'Lato', style: 'sans-serif'},
        { name: 'Lobster', style: 'sans-serif'},
        { name: 'Montserrat', style: 'sans-serif'},
        { name: 'Noto Sans', style: 'sans-serif'},
        { name: 'Open Sans', style: 'sans-serif'},
        { name: 'Oswald', style: 'sans-serif'},
        { name: 'Outfit', style: 'sans-serif'},
        { name: 'Poppins', style: 'sans-serif'},
        { name: 'Quicksand', style: 'sans-serif'},
        { name: 'Raleway', style: 'sans-serif'},
        { name: 'Roboto', style: 'sans-serif'},
        { name: 'Verdana', style: 'sans-serif'},
        { name: 'Georgia', style: 'serif'},
        { name: 'Playfair Display', style: 'serif'},
        { name: 'Times New Roman', style: 'serif'},
        { name: 'Caveat', style: 'cursive'},
        { name: 'Dancing Script', style: 'cursive'},
        { name: 'Great Vibes', style: 'cursive'},
        { name: 'Pacifico', style: 'cursive'},
        { name: 'Sacramento', style: 'cursive'},
        { name: 'Sofia', style: 'cursive'},
        { name: 'Heebo', style: 'sans-serif'},
        { name: 'Dm Serif Display', style: 'serif'},
        { name: 'Merriweather', style: 'serif'},
        { name: 'Dosis', style: 'sans-serif'},
        { name: 'Nothing You Could Do', style: 'cursive'},
        { name: 'IBM Plex Sans', style: 'sans-serif'},
        { name: 'IBM Plex Serif', style: 'serif'},
        { name: 'Manrope', style: 'sans-serif'},
        { name: 'DM Serif Text', style: 'serif'},
        { name: 'Zilla Slab', style: 'serif'},
        { name: 'PT Serif', style: 'serif'},
        { name: 'Istok Web', style: 'sans-serif'},
        { name: 'Quattrocento', style: 'serif'},
        { name: 'Shadows Into Light', style: 'cursive'},
        { name: 'Crete Round', style: 'serif'},
        { name: 'Chewy', style: 'system-ui'},
        { name: 'Noto Serif', style: 'serif'},
        { name: 'DM Sans', style: 'sans-serif'},
        { name: 'Cookie', style: 'cursive'},
        { name: 'Arimo', style: 'sans-serif'},
        { name: 'Prata', style: 'serif'}
    ] %}
    /* Font Families */
    {% if design.fontFamilyPrimary and design.fontFamilyPrimary != 'default' %}
        {% set fontPrimary = fontFamilies | firstWhere(m => m.name == design.fontFamilyPrimary.label) %}
        --cnvs-primary-font: "{{ design.fontFamilyPrimary.label }}", {{fontPrimary.style}};
    {% endif %}
    {% if design.fontFamilySecondary and design.fontFamilySecondary != 'default' %}
        {% set fontSecondary = fontFamilies | firstWhere(m => m.name == design.fontFamilySecondary.label) %}
        --cnvs-secondary-font: "{{ design.fontFamilySecondary.label }}", {{fontSecondary.style}};
    {% endif %}
    {% if design.fontFamilyBody and design.fontFamilyBody != 'default' %}
        {% set fontBody = fontFamilies | firstWhere(m => m.name == design.fontFamilyBody.label) %}
        --cnvs-body-font: "{{ design.fontFamilyBody.label }}", {{fontBody.style}};
    {% endif %}
}

.img-carousel {
    aspect-ratio: 4 / 3;
    object-fit: cover;
}
.img-gallery {
    aspect-ratio: 4 / 3;
    object-fit: cover;
}
.img-feature-box {
    aspect-ratio: 3 / 2;
    object-fit: cover;
}
.mfp-title  {display: none;}
.masonry-thumbs {
    --bs-gutter-x: 0.5rem;;
    --bs-gutter-y: 0.5rem;;
}
#oc-clients .oc-item img {
    aspect-ratio: 4 / 3;
    object-fit: cover;
    height: 100%;
}
#oc-clients .oc-item img {
    aspect-ratio: 4 / 3;
    object-fit: cover;
    height: 100%;
}
.img-testimonal {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    height: 64px;
}
@media (max-width: 992px) {
    .blocks-faqs-3 .sticky-section { position: relative !important; }
}

.blocks-faqs-3 .faqs .toggle {
    background-color: var(--cnvs-contrast-100);
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.085);
}

.blocks-faqs-3 .faqs .toggle-header {
    padding: 15px 20px;
    margin: 0;
}

.blocks-faqs-3 .faqs .toggle-content {
    border-top: 1px solid var(--cnvs-contrast-100);
    padding: 20px 25px;
}
.block-pricing-10 .pricing-title {
    transform: translateY(-50%);
    margin: 0 auto;
    display: inline-block;
    width: auto;
    padding: 0 16px;
}
.block-pricing-10 .btn-action {
    transform: translateY(50%);
}
.block-card-9 .grid-inner .btn-hover {
	opacity: 0;
	display: block;
	transition: opacity .3s ease, transform .3s .1s ease;
	margin-top: 15px;
	position: absolute;
	transform: translateY(0);
}
.block-card-9 .grid-inner:hover .btn-hover {
	opacity: 1;
	transform: translateY(-5px);
}

.block-card-9 .grid-inner .grid-image {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
}

.block-card-9 .grid-inner:hover .grid-image {
	-webkit-animation: kenburns 20s ease-out both;
	animation: kenburns 20s ease-out both;
}

.block-card-9 .grid-inner .grid-icon,
.block-card-9 .grid-inner .grid-content {
	transition: transform .3s ease;
}

.block-card-9 .grid-inner:hover .grid-content { transform: translateY(-45px); }
.block-card-9 .grid-inner:hover .grid-icon { transform: translateY(-5px); }
.block-gallery-9 .entry-title h3 {
    text-transform: none;
    font-weight: 500;
    letter-spacing: 0;
}

.block-gallery-9 .entry-title:hover h3 a {
    color: #DDD
}

.block-gallery-9 .btn-more {
    opacity: 0;
    font-size: 1.5rem;
    color: #FFF;
    margin-top: 15px;
    transition: opacity .3s ease;
}

.block-gallery-9 .grid-item .bg-overlay-content {
    top: auto;
    bottom: -40px;
    transition: bottom .3s ease;
}

.block-gallery-9 .grid-item:hover .bg-overlay-content {
    bottom: 0;
}

.block-gallery-9 .grid-item:hover .btn-more {
    opacity: 1;
}

.block-gallery-9 .entry-meta li {
    font-style: italic;
    font-size: 90%;
}

.block-gallery-9 .dark .entry-meta li,
.block-gallery-9 .dark .entry-meta li a {
    color: rgba(255,255,255,0.8);
}
