<header id="header" class="transparent-header dark header-size-md" data-sticky-shrink="false">
    <div id="header-wrap">
        <div class="container">
            <div class="header-row">

                <!-- Logo
                ============================================= -->
                {% include '_layouts/logo.twig' %}
                <!-- #logo end -->

                <!--  Navigation
                ============================================= -->
                {% include '_layouts/navigation.twig' %}
                <!-- #-navigation end -->

            </div>
        </div>
    </div>
    <div class="header-wrap-clone"></div>
</header>