<div class="section bg-transparent my-0"
    {% include 'themes/'~ design.theme.value ~'/baseSection.twig' %}
>
    <div class="container">
        <div class="row justify-content-between g-5">
            <div class="col-12">
                {% include 'themes/'~ design.theme.value ~'/baseHeadingText.twig' %}
            </div>
        </div>
    </div>
</div>

    





