<div class="row">
    <div class="pb-4">
        {% if socialMedia.facebook is not empty %}
            <a href="{{ socialMedia.facebook }}" target="_blank" class="social-icon bg-dark h-bg-facebook mb-0 me-2">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-facebook-f"></i>
            </a>
        {% endif %}
        {% if socialMedia.instagram is not empty %}
            <a href="{{ socialMedia.instagram }}" target="_blank" class="social-icon bg-dark h-bg-instagram mb-0 me-2">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-instagram"></i>
            </a>
        {% endif %}
        {% if socialMedia.pinterest is not empty %}
            <a href="{{ socialMedia.pinterest }}" target="_blank" class="social-icon bg-dark h-bg-pinterest mb-0 me-2">
                <i class="fa-brands fa-pinterest"></i>
                <i class="fa-brands fa-pinterest"></i>
            </a>
        {% endif %}
        {% if socialMedia.twitter is not empty %}
            <a href="{{ socialMedia.twitter }}" target="_blank" class="social-icon bg-dark h-bg-twitter mb-0 me-2">
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-twitter"></i>
            </a>
        {% endif %}
    </div>
</div>