<!-- Footer
============================================= -->
{% if design.layoutFooter.value %}
    {% include '_layouts/_general/_canvas/_footer/' ~ design.layoutFooter.value ~'.twig' %}
{% endif %}
<!-- #footer end -->
</div><!-- #wrapper end -->